#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.grid {
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.grid:nth-child(-n + 3) {
    border-top: none;
}

.grid:nth-child(3n + 1) {
    border-left: none;
}

.grid:nth-child(3n + 3) {
    border-right: none;
}

.grid:nth-last-of-type(-n + 3) {
    border-bottom: none;
}

.x::after{
    content: ❌;
}

.o::after{
    content: ⭕;
}

