#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.grid {
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    cursor: pointer;
}