*{
    margin: 0;
    padding: 0;
    border: none;
    font-size: 10px;
} 
h1 {
    font-size: 3rem;
    margin: 6rem auto;
    text-align: center;
    width: 100%;
}

#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.grid {
    border: .1rem solid #000;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
}

.grid:not(.disabled):hover {
    background: #eee;
}

.grid:nth-child(-n + 3) {
    border-top: none;
}

.grid:nth-child(3n + 1) {
    border-left: none;
}

.grid:nth-child(3n + 3) {
    border-right: none;
}

.grid:nth-last-of-type(-n + 3) {
    border-bottom: none;
}

.disabled {
    cursor: not-allowed;
}

.x::after {
    content: '❌';
}

.o::after {
    content: '⭕';
}

.game-over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgb(0 0 0 / 50%) 0 0 0 9999px;
}

.go-txt {
    position: absolute;
    top: -20rem;
    font-size: 6rem;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    transform: translateX(-30%);
}

.visible {
    display: block;
}

.restart{
    font-size: 1rem;
    border: .2rem solid black;
}

@media screen and (min-width:768px) {
    h1 {
        font-size: 5rem;
    }
    .grid{
        width: 10rem;
        height: 10rem;
        font-size: 4rem;
    }

    .go-txt{
        font-size: 10rem;
    }
    .restart{
        font-size: 2.3rem;
    }
}

@media screen and (min-width:1024px) {
    h1 {
        font-size: 7rem;
    }
    .grid{
        width: 15rem;
        height: 15rem;
        font-size: 6rem;
    }
    .go-txt{
        font-size: 9rem;
    }
    .restart{
        font-size: 4rem;
        border: .3rem solid black;
    }
}

